:root {
  --main-font: 'Courier New', monospace;
  --main-color:#000000;
  --hover-color: #dc48c8;
  --secondary-color: #9a0c55;
  --background-color: #fff;
  --text-color: #333;
  --padding: 20px; 
  --margin: 10px; 
}

body {
  font-family: var(--main-font);
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  margin: 0;
  padding: 20px;
}

.content {
  max-width: 800px;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: Center;
}

h1 {
  font-family: var(--main-font);
  font-size: 44px;
  margin-top: 50px;
}

h2 {
  font-family: var(--main-font);
  font-size: 36px;
}

p {
  font-family: var(--main-font);
  font-size: 18px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 1600px;
  text-align: center; 
}

.toolbar {
  display: flex;
  gap: 10px;
}

.toolbar button {
    padding: 6px 4px;
    background-color: #000000;
    border: 2px solid #1d63a8;  
    cursor: pointer;  
    border-radius: 3px;  
    font-size: 16px;  
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease-in-out; 
    color: #408be6;
} 

.toolbar button:hover {
  background-color: var(--hover-color);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  border-top: #1d63a8;
  color: white;
  text-align: center;
  padding: 4px 0;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: row;
    gap: 5px;
  }
}