body {
  font-family: 'Courier New', monospace;
  text-align: center;
  background-color: #3B65D9;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: 'Courier New', monospace;
  font-size: 36px;
}

p {
  font-family: 'Courier New', monospace;
  font-size: 18px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center; 
}

.toolbar {
  display: flex;
  gap: 10px;
}

.toolbar button {
    padding: 6px 4px;
    background-color: #454A59;
    border: 2px solid #2c2c2c;  
    cursor: pointer;  
    border-radius: 3px;  
    font-size: 16px;  
    transition: background-color 0.3s ease-in-out; 
    color: #ffffff;
} 

.toolbar button:hover {
  background-color: #214b7a;
}

button {
  font-family: inherit;
  font-weight: bold;
}